.form {
    z-index: 100;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(0);
}


.form:target {

    transform: scale(1) rotateY(360deg);
    transition: transform 0.5s ease-in-out;
}

.close {
    z-index: 105;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0.7;
    text-align: right;
    color: #1A1C1E;
}

.form__content h3 {
    margin: 0.3rem 0.5rem 0.8rem 0.5rem;
    text-align: center;
}

.form__content p {
    margin: 0.5rem;
}

.shared__form {
    z-index: 111;
    position: absolute;
    left: 15vw;
    right: 15vw;
    padding: 0.5rem;
    background: grey;
}

@media (max-width: 600px) {
    .shared__form {
        font-size: 3vw;
        width: 70vw;
        height: 90vh;
    }

    input {
        font-size: 2vw;
    }
}