body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: black;
}

.crown {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 120px;
  padding: 0;
  background: white;
  box-shadow: 0 0 3px 5px grey;
}

.crown__log {
  width: 330px;
}

.crown__log :hover {
  transform: scale(1.05);
}

.crown__button {
  float: right;
  box-sizing: border-box;
  margin: 0.5em 1em;
}

.nav {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px);
}

.nav__menu {
  margin: 0;
  padding: 0;
}

.nav__menu__li {
  display: inline;
  list-style-type: none;
}

.nav__menu__li__head {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: white;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav__menu__li--services {
  padding: 0.5rem 1rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.nav__menu__li--services:hover {
  box-shadow: 0 0 15px 1px black;
}

#submenu:checked ~ .nav__menu--sub {
  display: block;
}

.nav__menu--sub {
  position: absolute;
  display: none;
  top: 52px;
  left: -2.5rem;
  padding: 0;
  border-radius: 0 0 8px 8px;
  background: lightgray;
}

.nav__menu__li__sub {
  display: block;
  padding: 0.5em 1em;
  margin: 0;
  text-align: left;
  color: black;
  text-decoration: none;
}

.nav__menu__li__head:hover {
  box-shadow: 0 0 15px 1px black;
}

.menu__sub:hover {
  background: white;
}

.menu__sub {
  list-style-type: none;
}

.submenu__btn {
  cursor: pointer;
}

#submenu {
  display: none;
}

.section {
  background: url("../pictures/пшеничное-поле-фото-4.jpg") center/cover;
}

.section__center {
  position: relative;
  min-height: 390px;
  margin: 0 10%;
  background: white;
  box-shadow: 0 0 30px 12px black;
  overflow: hidden;
}

footer {
  position: relative;

  width: 100%;
  background: black;
  color: white;
  text-align: center;
}

footer div {
  display: inline-block;
  width: 30%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

footer img {
  width: 30vw;
}

footer p {
  margin: 0;
  padding: 0;
}

#burg_btn {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 910px) {
  .crown {
    height: 130px;
  }

  .nav {
    z-index: 2;
    height: calc(100% - 70px);
    text-align: center;
  }
}


@media (max-width: 600px) {
  .crown {
    z-index: 2;
    overflow: hidden;
    height: auto;
  }

  .crown__log > img {
    width: 60vw;
  }

  .crown__button {
    margin: 0 auto;
    float: none;
  }


  .burg {
    z-index: 3;
    position: relative;
    top: 2vw;
    right: 3vw;
    width: 70px;
    height: 70px;
    cursor: pointer;
    float: right;
    overflow: hidden;
  }

  .menu_burg_checked {
    height: auto;
    width: 100%;
  }

  .menu_burg,
  .menu_burg::after,
  .menu_burg::before {
    position: absolute;
    display: block;
    height: 6px;
    width: 60px;
    top: 50%;
    margin-top: -3px;
    left: 50%;
    margin-left: -30px;
    border-radius: 5px;
    background: black;
    box-sizing: border-box;
  }

  .menu_burg::after,
  .menu_burg::before {
    content: "";
    transition: 0.5s;
  }

  .menu_burg::after {
    transform: translateY(-12px);
  }

  .menu_burg::before {
    transform: translateY(12px);
  }

  #burg_btn:checked ~ .menu_burg_checked > .burg > .menu_burg:before {
    transform: rotate(45deg);
    visibility: visible;
  }

  #burg_btn:checked ~ .menu_burg_checked > .burg > .menu_burg:after {
    transform: rotate(-45deg);
    visibility: visible;
  }

  #burg_btn:checked ~ .menu_burg_checked > .burg > .menu_burg {
    visibility: hidden;
  }

  .nav__menu {
    position: relative;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #burg_btn:checked ~ .nav > .nav__menu {
    display: block;
  }

  .nav {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .nav__menu__li__head {
    display: block;
    width: 100%;
    margin: 2px auto;
    padding: 0.5rem 0;
    border-radius: 0;
    font-size: 1rem;
  }

  .nav__menu__li__sub:hover {
    border-radius: 0;
    box-shadow: none;
  }

  #submenu {
    display: none;
    position: absolute;
  }

  .submenu__btn {
    cursor: pointer;
  }

  .nav__menu--sub {
    display: none;
    top: 0;
    height: 0;
    position: relative;
    margin: 0;
    left: 0;
    background: white;
  }

  .nav__menu__li {
    position: relative;
    display: inline;
  }

  ul.nav__menu > li:hover > ul.nav__menu--sub {
    display: none;
  }

  .nav__menu__li__head:hover {
    box-shadow: none;
  }

  #submenu:checked ~ .nav__menu--sub {
    display: block;
    animation: height 1s;
    animation-fill-mode: forwards;
  }

  @keyframes height {
    100% {
      height: 130px;
    }
  }


}

