
.section__bird {
  width: 100%;
  opacity: 1;
}

.section__center {
  position: relative;
  text-align: center;
}

.section__p {
  font-size: 3rem;
}

.section__img {
  position: relative;
}

.section__print {
  position: absolute;
  z-index: 2;
  bottom: -3vw;
  right: 5vw;
  width: 15vw;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: print 3s infinite linear;
}

.section__p {
  margin: 1rem 0;
  font-size: 7vw;
  text-shadow: 0 3px 2px grey;
  }

@keyframes print {
  25% {
    box-shadow: 0 0 20px 10px red;
  }
  50% {
    box-shadow: 0 0 10px 0 red;
  }
}
