.section__bird {
  position: fixed;
  z-index: -1;
  width: 80%;
  opacity: 0.3;
}

.section_center {
  z-index: 1;
}

.section__warning {
  position: relative;
  float: left;
  width: 25vw;
  margin: 2rem 2rem 1rem 2rem;
  box-shadow: 0 0 10px 5px;
}

.section__address, .section__tel {
  font-weight: bold;
  font-size: 1rem;
  text-shadow: -4px 7px 8px rgba(16, 8, 46, 0.61);
}

.section__tel-symbol {
  padding: 0;
  margin: 0;
}

.section__tel-symbol li {
  display: inline-block;
  list-style-type: none;
}

.section__tel-symbol img {
  height: 3vw;
  padding: 0 5px;
}

.section__messenger {
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.section__messenger li {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin: 1vw;
  border-radius: 50%;
  overflow: hidden;
}

.section__messenger img {
  width: 5vw;
}

.section__messenger img:hover {
  box-shadow: 0 0 3px 5px white;
  border-radius: 50%;
  transform: scale(1.2);
}

.anketa {
  position: fixed;
  z-index: 444;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  transition: opacity 900ms ease-in;
}

.anketa:target {
  display: block;
  pointer-events: auto;
}