
section {
  margin: 100px 0 0 0;
  overflow: hidden;

}

section > img {
  height: 30vw;
  box-shadow: 0 0 10px 5px;
  margin: 30px;
  display: block;
  float: left;
}

section p {
  font-size: 2em;
  width: 40vw;
  font-weight: bold;
  display: inline-block;
  padding: 1em 1em 0 0;
  margin: 0;
  text-shadow: -4px 7px 8px rgba(16,8,46,0.61);

}

.tel {
  margin: 0;
  padding: 0;
}

.tel li {
  list-style-type: none;
  display: inline-block;
  }

.tel img {
  height: 3vw;
  padding: 0 5px;
}

.messenger {
  list-style-type: none;
  text-align: center;
  padding: 1em;
  margin: 0;

}

.messenger li {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 1vw;
  border-radius: 50%;
  overflow: hidden;


}

.messenger img {

  height: 70px;
}

.messenger img:hover {
  box-shadow: 0 0 3px 5px white;
  border-radius: 50%;
  transform: scale(1.2);
}
