body {
  margin: 0;
}
.background {
  background: url("../pictures/пшеничное-поле-фото-4.jpg") center/cover;
  height: 100vh;
  width: 100vw;
  margin: 100px 0 0 0;
  display: inline-block;
  position: fixed;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100px;
  padding: 0;
  z-index: 1;
  box-shadow:0 0 5px 2px ;
}

.log {
  display: inline-block;
  position: absolute;
  height: 100px;
}

.log > a > img {
  height: 100%;
  background: white;
}

.mobile {
  width: calc(100vw - 334px);
  text-align: right;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  position: relative;
  float: right;
}

.mobile img {
  height: 30px;
}

.mobile p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  float: right;
  padding: 5px 20px;
}

header nav {
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  width: calc(100vw - 334px);
  margin: 5px 0;
  position: relative;
  height: calc(100% - 48px);
  float: right;
 }

header ul {
  padding: 0;
  margin: 0;
}

header ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 30px;
  padding: 8px 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  background: white;
}

header ul li:hover {
  box-shadow: 0 0 15px 1px;
}

.uslugi li:hover {
  box-shadow: none;
}

li a {
  text-decoration: none;
  color: black;
}

ul.menu > li:hover > ul.submenu {
  display: inherit;
}

.uslugi {
  width: 100px;
  position: relative;
}

.submenu {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  overflow: hidden;
  padding: 0;
  background: white;
}

ul.submenu li {
  font-size: 15px;
  text-align: right;
  display: block;
  border: none;
}

.submenu a:hover {
  color: black;
}

footer {
  display: inline-block;
  bottom: 0;
  background: black;
  width: 100vw;
  color: white;
  text-align: center;
  z-index: 4;
}

footer div {
  width: 30vw;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

footer img {
  width: 30vw;
}

footer p {
  margin: 0;
  padding: 0;
}