.button {
  display: flex;
  padding: 0.3rem 1rem;
  width: 13rem;
  border-radius: 0.3em;
  align-items: center;
  color: lightgrey;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.1em 0.05em black;
  box-shadow: 0 0.3em 0.5em 0.05em grey;
}

.button__img {
  width: 2rem;
  border: 1px solid lightgrey;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.1em 0.05em grey;
  margin-right: 1rem;
}

.button:hover > .button__img {
  transform: scale(1.1);
}

.button:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0.1em 0.1em 0.1em 0.05em grey;
  color: white;
  background: lightgrey;
}