
.section__bird {
  width: 100%;
  opacity: 1;
}

.section_center {
  position: relative;
  text-align: center;
}

.section__p {
  font-size: 3rem;
}

.section__img {
  position: relative;
}

.section__print {
  position: absolute;
  z-index: 2;
  bottom: -3vw;
  right: 5vw;
  width: 15vw;
  box-shadow: 0 0 15px 5px grey;
  border-radius: 50%;
  transform: rotate(45deg);
}

p {
  margin: 1rem 0;
  text-shadow: 0 3px 2px grey;
}
