.section__bird {
  position: fixed;
  z-index: -1;
  width: 80%;
  opacity: 0.3;
}

.section_center {
  z-index: 1;
  text-align: left;
}

.section__bath-p {
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
}

.section__card {
  position: relative;
  display: inline-block;
  width: 30vw;
  height: 40vw;
  margin: 1rem;
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 2.5vw;
  text-align: center;
  text-decoration: none;
  box-shadow: 0.3em 0.3em 0.5em 0.2em grey;
}

.section__card:active {
  transform: translate(0.3em, 0.3em);
  box-shadow: 0 0.3em 0.5em 0.05em grey;
}

.card__left {
  float: left;
}

.card__right {
  float: right;
}

.border__img {
  height: 35%;
  overflow: hidden;
}

.card {
  width: 100%;
  margin: 0;
}

.card__content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__price {
  position: absolute;
  width: 100%;
  bottom: 0.3rem;
  margin: 0;
  font-size: 3vw;
  text-align: center;
}

.card__content li {
  padding: 0.1rem 0;
}

.card__content li:nth-child(2n) {
  background: #1A1C1E;
}